<% layout('/layout/boilerPlate') -%>
<body>
    <div class="row">
        <div class="col-8 offset-2">
            <br>
            <h1>Edit Listing</h1>
            <form action="/listing/<%=data._id%>?_method=PUT" method="post" novalidate class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" value="<%=data.title%>" name="listing[title]" id="title" class="form-control" required>
                    <div class="valid-feedback">
                        Looks good!
                    </div>
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Description</label>
                    <textarea name="listing[description]" id="desc" cols="20" rows="5" class="form-control" required><%=data.description%></textarea>
                    <div class="invalid-feedback">
                        please provide a short description!
                    </div>
                </div>
                <div>
                    <img src="<%=originalUrl%>" alt="">
                </div>
                <div class="mb-3">
                    <label for="img" class="form-label">Upload Img</label>
                    <input type="file" id="img" name="listing[img]" class="form-control">
                    <div class="invalid-feedback">
                        please provide a Image
                    </div>
                </div> 
                <div class="row">
                    <div class="mb-3 col-md-4">
                        <label for="price" class="form-label">Price</label>
                        <input type="number" id="price" value="<%=data.price%>" name="listing[price]" class="form-control" required>
                        <div class="invalid-feedback">
                            please provide a valid price!
                        </div>
                    </div>
                    <div class="mb-3 col-md-8">
                        <label for="country" class="form-label">Country</label>
                        <input type="text" id="country" name="listing[country]" value="<%=data.country%>" class="form-control" required>
                        <div class="invalid-feedback">
                            please provide a valid country!
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="location" class="form-label">Location</label>
                    <input type="text" id="location" value="<%=data.location%>" name="listing[location]" class="form-control" required>
                    <div class="invalid-feedback">
                        please provide a valid location!
                    </div>
                </div>
                <button class="btn btn-dark mb-3 edit-btn">Submit</button>
            </form>
        </div>

    </div>
</body>
